<table class="table table-striped">
 <% @hellos.each do |photo| %>
   <tr>
    <td> <%= photo.title %></td> 
     <td> <%= link_to 'Show', hello_path(photo) %></td> 
     <td> <%= link_to 'Edit', edit_hello_path(photo) %></td> 
     <td> <%= link_to 'Destroy', hello_path(photo), method: :delete, data:{ confirm: "Are you sure?" } %></td> 
   </tr>
 <% end %>
</table>

<%= link_to 'New Photo', new_hello_path %>